# World Happiness Report

**Importing World Happiness Report data for year 2015, 2016 and 2017**

In [0]:
import pandas as pd

# data2015 = pd.read_csv("2015.csv").sort_values("Country").sort_values("Country")
data_2015 = pd.read_csv("2015.csv").sort_values("Country")
data_2015 = data_2015.set_index(data_2015["Country"])
data_2016 = pd.read_csv("2016.csv").sort_values("Country")
data_2016 = data_2016.set_index(data_2016["Country"])
data_2017 = pd.read_csv("2017.csv").sort_values("Country")
data_2017 = data_2017.set_index(data_2017["Country"])

**Countries with a happiness score of less than 5.0 in 2015**

In [2]:
data_2015[['Happiness Score']][data_2015["Happiness Score"] < 5]

             Happiness Score
Country
Afghanistan            3.575
Albania                4.959
Angola                 4.033
Armenia                4.350
Bangladesh             4.694
...                      ...
Tunisia                4.739
Uganda                 3.931
Ukraine                4.681
Yemen                  4.077
Zimbabwe               4.610

[65 rows x 1 columns]

**Countries with a happiness score of less than 5.0 in 2016**

In [3]:
data_2016[['Happiness Score']][data_2016["Happiness Score"] < 5]

                         Happiness Score
Country
Afghanistan                        3.360
Albania                            4.655
Angola                             3.866
Armenia                            4.360
Bangladesh                         4.643
Benin                              3.484
Botswana                           3.974
Bulgaria                           4.217
Burkina Faso                       3.739
Burundi                            2.905
Cambodia                           3.907
Cameroon                           4.513
Chad                               3.763
Comoros                            3.956
Congo (Brazzaville)                4.236
Congo (Kinshasa)                   4.272
Egypt                              4.362
Ethiopia                           4.508
Gabon                              4.121
Georgia                            4.252
Ghana                              4.276
Guinea                             3.607
Haiti                              4.028
Honduras                           4.871
India                              4.404
Iran                               4.813
Iraq                               4.575
Ivory Coast                        3.916
Kenya                              4.356
Laos                               4.876
Liberia                            3.622
Madagascar                         3.695
Malawi                             4.156
Mali                               4.073
Mauritania                         4.201
Mongolia                           4.907
Myanmar                            4.395
Namibia                            4.574
Nepal                              4.793
Niger                              3.856
Nigeria                            4.875
Palestinian Territories            4.754
Rwanda                             3.515
Senegal                            4.219
Sierra Leone                       4.635
South Africa                       4.459
South Sudan                        3.832
Sri Lanka                          4.415
Sudan                              4.139
Syria                              3.069
Tajikistan                         4.996
Tanzania                           3.666
Togo                               3.303
Uganda                             3.739
Ukraine                            4.324
Yemen                              3.724
Zambia                             4.795
Zimbabwe                           4.193

**Countries with a happiness score of less than 5.0 in 2015**

In [4]:
data_2017[['Happiness.Score']][data_2017["Happiness.Score"] < 5]

                          Happiness.Score
Country
Afghanistan                         3.794
Albania                             4.644
Angola                              3.795
Armenia                             4.376
Bangladesh                          4.608
Benin                               3.657
Botswana                            3.766
Bulgaria                            4.714
Burkina Faso                        4.032
Burundi                             2.905
Cambodia                            4.168
Cameroon                            4.695
Central African Republic            2.693
Chad                                3.936
Congo (Brazzaville)                 4.291
Congo (Kinshasa)                    4.280
Egypt                               4.735
Ethiopia                            4.460
Gabon                               4.465
Georgia                             4.286
Ghana                               4.120
Guinea                              3.507
Haiti                               3.603
India                               4.315
Iran                                4.692
Iraq                                4.497
Ivory Coast                         4.180
Kenya                               4.553
Lesotho                             3.808
Liberia                             3.533
Madagascar                          3.644
Malawi                              3.970
Mali                                4.190
Mauritania                          4.292
Mongolia                            4.955
Mozambique                          4.550
Myanmar                             4.545
Namibia                             4.574
Nepal                               4.962
Niger                               4.028
Palestinian Territories             4.775
Rwanda                              3.471
Senegal                             4.535
Sierra Leone                        4.709
South Africa                        4.829
South Sudan                         3.591
Sri Lanka                           4.440
Sudan                               4.139
Syria                               3.462
Tanzania                            3.349
Togo                                3.495
Tunisia                             4.805
Uganda                              4.081
Ukraine                             4.096
Yemen                               3.593
Zambia                              4.514
Zimbabwe                            3.875

 **The unhappiest country in Sub-Saharan Africa**

In [0]:
data_sahara_2015 = data_2015[data_2015["Region"] == "Sub-Saharan Africa"]
data_sahara_2016 = data_2016[data_2016["Region"] == "Sub-Saharan Africa"]

In [6]:
data_sahara_2015[data_sahara_2015["Happiness Score"] == data_sahara_2015["Happiness Score"].min()]

        Country              Region  ...  Generosity  Dystopia Residual
Country                              ...
Togo       Togo  Sub-Saharan Africa  ...     0.16681            1.56726

[1 rows x 12 columns]

In [7]:
data_sahara_2016[data_sahara_2016["Happiness Score"] == data_sahara_2016["Happiness Score"].min()]

         Country              Region  ...  Generosity  Dystopia Residual
Country                               ...
Burundi  Burundi  Sub-Saharan Africa  ...      0.2029            2.10404

[1 rows x 13 columns]

**Calculating the average happiness for all the countries for the years 2015-2017**

In [0]:
data_2015["Average Happiness"] = (data_2015["Happiness Score"]+data_2016["Happiness Score"]+data_2017["Happiness.Score"])/3

**The Unhappiest country in each region for the years 2015-2017**

In [9]:
data_2015[['Region', 'Average Happiness']].sort_values(by = 'Average Happiness').groupby('Region').head(1)

                                        Region  Average Happiness
Country
Burundi                     Sub-Saharan Africa           2.905000
Syria          Middle East and Northern Africa           3.179000
Afghanistan                      Southern Asia           3.576333
Cambodia                     Southeastern Asia           3.964667
Haiti              Latin America and Caribbean           4.049667
Georgia             Central and Eastern Europe           4.278333
Mongolia                          Eastern Asia           4.912000
Greece                          Western Europe           5.039000
United States                    North America           7.072000
Australia            Australia and New Zealand           7.293667

**The Happiest country in each region for the years 2015-2017**

In [10]:
data_2015[['Region', 'Average Happiness']].sort_values(by = 'Average Happiness').dropna().groupby('Region').tail(1)

                                         Region  Average Happiness
Country
Pakistan                          Southern Asia           5.198333
Mauritius                    Sub-Saharan Africa           5.584667
Japan                              Eastern Asia           5.942667
Czech Republic       Central and Eastern Europe           6.570000
Singapore                     Southeastern Asia           6.703000
Costa Rica          Latin America and Caribbean           7.130667
Israel          Middle East and Northern Africa           7.252667
New Zealand           Australia and New Zealand           7.311333
Canada                            North America           7.382333
Switzerland                      Western Europe           7.530000

**Countries that became unhappy between 2015 to 2017**

In [11]:
data_unhappy_2015to2017 = data_2015['Happiness Score'] - data_2017['Happiness.Score']
data_2015['unhappy_meter2015'] = data_unhappy_2015to2017
data_unhappy_2016to2017 = data_2016['Happiness Score'] - data_2017['Happiness.Score']
data_2015['unhappy_meter2016'] = data_unhappy_2016to2017
data_2016['Happiness Score']

Country
Afghanistan    3.360
Albania        4.655
Algeria        6.355
Angola         3.866
Argentina      6.650
               ...
Venezuela      6.084
Vietnam        5.061
Yemen          3.724
Zambia         4.795
Zimbabwe       4.193
Name: Happiness Score, Length: 157, dtype: float64

In [12]:
data_2015[['Country', 'unhappy_meter2015']][data_2015['Happiness Score'] - data_2017['Happiness.Score'] > 0]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

               Country  unhappy_meter2015
Country
Albania        Albania       3.149999e-01
Angola          Angola       2.379999e-01
Australia    Australia       8.010864e-08
Austria        Austria       1.940000e-01
Bangladesh  Bangladesh       8.600020e-02
...                ...                ...
Venezuela    Venezuela       1.560000e+00
Vietnam        Vietnam       2.860001e-01
Yemen            Yemen       4.840001e-01
Zambia          Zambia       6.150001e-01
Zimbabwe      Zimbabwe       7.350000e-01

[75 rows x 2 columns]

**Country whose happiness decreased by the most amount**

In [13]:
data_2015[['Country', 'unhappy_meter2015']][data_2015['Happiness Score'] - data_2017['Happiness.Score'] > 0].max()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

Country              Zimbabwe
unhappy_meter2015        1.56
dtype: object

In [14]:
pip install wget

Collecting wget
  Downloading https://files.pythonhosted.org/packages/47/6a/62e288da7bcda82b935ff0c6cfe542970f04e29c756b0e147251b2fb251f/wget-3.2.zip
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-cp36-none-any.whl size=9682 sha256=f8c1eb2d31fbbd8bd1ba442bc5465def25e6b2705f3ea723b3d84ca20bb0f89f
  Stored in directory: /root/.cache/pip/wheels/40/15/30/7d8f7cea2902b4db79e3fea550d7d7b85ecb27ef992b618f3f
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [0]:
import wget
url = 'https://www.crcv.ucf.edu/data/UCF101/UCF101.rar'
UDF101 = wget.download(url)
UDF101

In [16]:
import wget
url = 'https://www.crcv.ucf.edu/data/UCF101/UCF101TrainTestSplits-RecognitionTask.zip'
labels = wget.download(url)
labels

'UCF101TrainTestSplits-RecognitionTask.zip'

In [18]:
!unzip 'UCF101TrainTestSplits-RecognitionTask.zip' -d Label_UCF101TrainTestSplits

Archive:  UCF101TrainTestSplits-RecognitionTask.zip
   creating: Label_UCF101TrainTestSplits/ucfTrainTestlist/
  inflating: Label_UCF101TrainTestSplits/ucfTrainTestlist/classInd.txt
  inflating: Label_UCF101TrainTestSplits/ucfTrainTestlist/testlist01.txt
  inflating: Label_UCF101TrainTestSplits/ucfTrainTestlist/testlist02.txt
  inflating: Label_UCF101TrainTestSplits/ucfTrainTestlist/testlist03.txt
  inflating: Label_UCF101TrainTestSplits/ucfTrainTestlist/trainlist01.txt
  inflating: Label_UCF101TrainTestSplits/ucfTrainTestlist/trainlist02.txt
  inflating: Label_UCF101TrainTestSplits/ucfTrainTestlist/trainlist03.txt